<div class="form_container">

<h1>Hello, <%= @user.email %></h1>

</br>
<h2>Your profil</h2>
</br>

<p>first_name : <%=@user.first_name%></br>
last_name : <%=@user.last_name%></br>
email : <%=@user.email%></br>
description : <%=@user.description%></br></br>

<%= link_to "edit", edit_user_registration_path %>
<%# sytaxe alternative edit %>
<%# <%= link_to "edit", 'http://localhost:3000//users/edit'%>
</p>

</br>
<h2>Your events</h2>
</br>

<ul>
    <% @events.each do |event|%>
    <li>
        <%= link_to event.title, event_path(event) %>
    </li>
    <% end %>
</ul>
<img  src="https://cdn.discordapp.com/attachments/318828901931548682/811262023949615154/telechargement.gif" alt="This will display an animated GIF"  width=100% />

       
</div>

